@media all {
    .container {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
    }
    .content {
        background-color: aqua;
    }
}

@media screen and (min-width: 10px) and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 500px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}